<center><h1><img src="https://freepngimg.com/thumb/diamond/28497-6-diamond-logo.png" style="width:50px;height:60px;">Memebers Sign In Here <img src="https://freepngimg.com/thumb/diamond/28497-6-diamond-logo.png" style="width:50px;height:60px;"></h1></center>
<br><br>
<br><br>
<br><br><br><br>
<br><br><br>
<header class="w3-display-container w3-content" style="max-width:1500px;">
  <div class="w3-display-left w3-padding w3-col l6 m8">
    <div class="w3-container w3-black">
      <center><h2><i class=></i>Login:</h2></center>
    </div>
    <% @errors && @errors.each do |e|%>
        <%= e %>
    <%end%>
    <div class="w3-container w3-white w3-padding-16">
        <%= form_with url: login_path do |f| %>
            <div class="w3-row-padding" style="margin:0 -16px;">
                <div class="w3-half w3-margin-bottom">
                    <label><i class=></i></label>
                    <%= f.label :username %>
                    <input class="w3-input w3-border" <%= f.text_field :username %>
                        <div class="w3-half">
                            <label><i class=></i></label>
                            <%= f.label :password %>
                            <input class="w3-input w3-border" <%= f.password_field :password %>
                        </div>
                    <div class="w3-half">
                <br>
                <button class="w3-button w3-green"<%= f.submit 'Log in' %> Sign In </button>
                <br><br>
                </div>
                <br><br>
                Not a member yet? <%= link_to "Create Account", signup_path %> 
            </div>   
        </div>
        <% end %>
        <div class="separator"> Or </div>
    
        <p>Login with: <%= button_to "Google", '/auth/google_oauth2', class:"w3-button w3-red" %></p>
        </div>
    </div>
</div>






<style>
.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid grey;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}
</style>
