<body>
<div class="w3-bar w3-green w3-large  w3-round we-card">
<center><h1><img src="https://freepngimg.com/thumb/diamond/28497-6-diamond-logo.png" style="width:50px;height:60px;">Create an Account <img src="https://freepngimg.com/thumb/diamond/28497-6-diamond-logo.png" style="width:50px;height:60px;"></h1></center>
</div>
<br><br>
<br><br>
<header class="w3-display-container w3-content" style="max-width:800px;">
  <center><div class="w3-display-left w3-padding w3-col l6 m8"></center>
    <div class="w3-container w3-black w3-round w3-card">
      <center><h2><i class=></i>New Account:</h2></center>
    </div>
    <% @errors && @errors.each do |e|%>
    <div class="w3-red w3-round w3-card"><center><%= e %></center></div>
    <%end%>
    <div class="w3-container w3-light-grey w3-padding-16 w3-round w3-card">
      <%= form_with model: User.new do |f| %>
        <div class="w3-row-padding" style="margin:0 -16px;">
          <div class="w3-half w3-margin-bottom ">
            <label><i class=><%= f.label :username %></i></label>
            <input class="w3-input w3-border w3-round w3-card " <%= f.text_field :username %>
          </div>
          <div class="w3-half">
            <label><i class=><%= f.label :email %></i></label>   
            <input class="w3-input w3-border w3-round w3-card" <%= f.text_field :email %>
          </div>
          <div class="w3-half w3-margin-bottom">
            <label><i class=><%= f.label :password %></i></label>   
            <input class="w3-input w3-border w3-round w3-card" <%= f.password_field :password %>
          </div>
          <div class="w3-row-padding" style="margin:-15px -16px;">
            <div class="w3-half w3-margin-bottom">
              <br>
              <button class="w3-button w3-green w3-round w3-card"<%= f.submit 'Log in' %> Sign Up </button>
              <br><br>
            </div>
          </div>
          <br><br>
          Already a member? <b><%= link_to "Login Here", login_path %></b>
        </div>
      <% end %>
      <div class="separator"> Or </div>
      <br>
      <h3><center><%= button_to "Continue with Google" , '/auth/google_oauth2', class:"w3-button w3-red w3-container w3-round w3-card" %></h3>
    </div>
  </div>
</header>
</body>

<style>
.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid grey;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}
body {
  background-image: url('https://www.pngkey.com/png/full/390-3907778_related-keywords-suggestions-for-nba-logos-all-nba.png');
  background-attachment: fixed;
   background-position: center; 
}
</style>