<center><h1> Signup Here: </h1></center>
<br><br>
<center><div><h2><center>Contiune with <%= button_to 'Google', '/auth/google_oauth2' %></h2></div>
<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message|%>
     <h3><%= message %> </h3>
  <%end%>
<%end%>
<br>
<hr size="1" width="60%" color="black">
or
<br><br>
<%= form_with model: @user do |f| %>
    <%= f.label :email %> 
    <%= f.text_field :email %>
    <br></br>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <br></br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br><br>
    <%= f.submit 'Create Your Account' %></div>
<% end %> 
<br>
Already have an Account?
<br>
<%= button_to "Login", login_path %> 





<style type="text/css"> 
div {
  width: 300px;
  padding: 0;
  border: 2px solid red;
  margin: 0;
  background-color:red;
}
</style>