
<% if @game %>
    <center><h1> Place Your Bets, and Win BIG!!! </h1></center>
    <center><h2> <b><%= @game.name %></b></h1></center>

    <%= render partial: "game", locals: {game: @game} %>

    <center><%= button_to 'See all the current bets on this Game', game_bets_path(@game), class:"w3-button w3-green w3-container" %>
    <h3><center><%= button_to "Return to All Games" , games_path, class:"w3-button w3-black w3-container" %></h3>
<% else %>
    <h2>404</h2><h3>Not Found</h3>
    
    <h3><center><%= button_to "Return to All Games" , games_path, class:"w3-button w3-black w3-container" %></h3>
<% end %>